# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Ignore debug binaries
debug

.vscode/

# govendor cache
.cache

# ignore vendor packages
vendor/
src/app/vendor/*
!src/app/vendor/vendor.json
